<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>Prodaja nakita</title>
        <meta charset=”utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name= “description” content= “”>
        <meta name= “author” content= "">
        <meta propety="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <H1>Prodaja nakita</H1>

        {% block content %}{% endblock %}
    </body>
</html>